/* Fonts */
@font-face{
	font-family:"Latow"; 
	font-style:normal; 
	font-weight:300; 
	src:local("Latow-Light"),url("/fonts/Lato-Light.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:italic; 
	font-weight:300; 
	src:local("Latow-LightItalic"),url("/fonts/Lato-LightItalic.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:normal; 
	font-weight:400; 
	src:local("Latow-Regular"),url("/fonts/Lato-Regular.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:italic; 
	font-weight:400; 
	src:local("Latow-Italic"),url("/fonts/Lato-Italic.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:normal; 
	font-weight:700; 
	src:local("Latow-Bold"),url("/fonts/Lato-Bold.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:italic; 
	font-weight:700; 
	src:local("Latow-BoldItalic"),url("/fonts/Lato-BoldItalic.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:normal; 
	font-weight:800; 
	src:local("Latow-Black"),url("/fonts/Lato-Black.ttf") format("truetype")
}

@font-face{
	font-family:"Latow"; 
	font-style:italic; 
	font-weight:800; 
	src:local("Latow-BlackItalic"),url("/fonts/Lato-BlackItalic.ttf") format("truetype")
}

/* Global */
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Latow";
    font-size: 14px;
    color: #333;
    background: url(/img/bg.png);

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

a.logo, h1 {
    color: #008aff;
    font-weight: 900;
    font-size: 30px;
}
h1, h4, p {
    margin: 0 0 20px 0;
}
p {
    font-size: 16px;
    text-align: justify;
}

a.logo {
    font-size: 48px;
    text-decoration: none;
}
a.logo span {
    display: block;
    font-weight: 300;
    font-size: 24px;
}

a {
    color: #0084b6;
    cursor: pointer;
}

article.hidden, article.about-us.hidden {
    display: none;
}

/* Nav */
nav {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 160px;
}
nav .top {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;

    background-color: #d4e3ff;

    white-space: nowrap;
    display: flex;
}
nav .top .left, nav .top .right {
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: flex-end;
    text-align: right;
}
nav .top .left {
    background-color: #ffffff;
    min-width: 360px;
    max-width: 360px;
    padding-right: 40px;
}
nav .top .right {
    width: 100%;
    padding-right: 60px;
}
nav .top .info-container * {
    line-height: 32px;
    padding-left: 22px;
}

nav .bottom {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;

    background-color: #6495ed;
}
nav .bottom {
    text-align: center;
    vertical-align: middle;
}
nav .bottom * {
    display: inline-block;
    height: 100%;
    width: 110px;
    font-weight: 900;
}
nav .bottom *:hover {
    color: #e0a40e;
}
nav .bottom * span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.55);
}

/* Footer */
footer {
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #6495ed;
}
footer h4 {
    margin: 0;
}
footer a {
    text-decoration: underline;
    color: #ffffff;
    margin: 0 8px;
}
footer .left, footer .right {
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: center;
    text-align: right;
}
footer .left {
    min-width: 400px;
    max-width: 400px;
}
footer .right {
    width: 100%;
    padding-right: 60px;
    justify-content: flex-end;

}

/* Main */
div.main {
    display: flex;
    position: relative;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

    flex-grow: 1;
}
article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
aside {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 320px;
    background-color: #30307d;
    text-align: right;
    color: #ffffff;
    padding: 40px;
}
aside h1 {
    color: #ffffff;
}
aside form {
    text-align: right;
}
aside form span {
    text-align: left;
    display: block;
}
aside input[type=text], aside input[type=email], aside textarea {
    display: inline-block;
    width: 90%;
    font-family: Arial;
    background: #dbdbdb;
    padding: 13px;
    padding-left: 20px;
    margin-bottom: 30px;
    border: none;
    outline: none;
}
aside textarea {
    max-width: 100%;
    min-height: 16px;
    height: 54px;
    resize: vertical;
}
aside input[type=submit] {
    font-family: "Latow";
    background-color: #e0a40e;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-weight: 900;
    color: #2e5160;
    border: none;
    outline: none;
}

article {
    padding: 40px 60px 40px 40px;
}
article.about-us {
    display: flex;
    flex-direction: row;
}
article .half {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 50%
}
article .half:nth-child(1) {
    padding-right: 20px;
    border-right: 1px solid #dbdbdb;
}
article .half:nth-child(2) {
    padding-left: 20px;
}
div.map {
    border: 5px solid #e0a40e;
    margin-bottom: 20px;
}
article ul {
    margin: 0;
    padding: 0 0 0 20px;
}
article li {
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width: 870px) {
    h1, h2, h4 {
        text-align: center;
    }
    nav {
        height: 258px;
    }
    nav .top {
        flex-direction: column;
        height: 218px;
    }
    nav .top .left {
        max-width: 100%;
        min-width: 100%;
    }
    nav .top .left, nav .top .right {
        justify-content: center;
        text-align: center;
    }
    div.main {
        flex-direction: column;
    }
    aside {
        display: block;
        max-width: 100%;
        min-width: 0%;
    }
    aside form {
        text-align: center;
    }
    aside form span {
        text-align: center;
    }
    article.about-us {
        flex-direction: column;
    }
    article .half {
        width: 100%;
    }
    article .half:nth-child(1) {
        border-right: none;
        padding-right: 0;
    }
    article .half:nth-child(2) {
        padding-left: 0;
    }
}